/* extra small device start */

@media(max-width:575px) {
    header .header_main,
    .sticky_header {
        padding: 20px 15px;
    }
    .navbar-toggler,
    .navbar-toggler:focus {
        color: #fff;
        outline: 0;
    }
    .sticky_header .navbar-toggler {
        color: #343a40;
    }
    .navbar-nav {
        background: #343a40;
        padding: 20px;
        text-align: center;
    }
    .sticky_header .navbar-nav {
        background: #fff;
        padding: 20px 20px 0;
        text-align: center;
    }
    .navbar-nav .nav-item {
        padding: 5px 0;
    }
    header .header_main .navbar-nav .nav-item:last-child .nav-link,
    .sticky_header .navbar-nav .nav-item:last-child .nav-link {
        padding: 0;
    }
    #banner {
        padding-top: 190px;
    }
    #banner .banner_content h1 {
        font-size: 40px;
    }
    #banner .banner_social_icon {
        display: none;
    }
    #about {
        padding-top: 84px;
        padding-bottom: 70px;
    }
   
    .about_content_left a {
        margin-bottom: 30px;
    }
    #about .about_content_right {
        display: none;
    }
    #my_skill {
        padding-top: 84px;
        padding-bottom: 65px;
    }
    .my_skill_right {
        padding-top: 20px;
    }
    #experience {
        padding-top: 84px;
        padding-bottom: 60px;
    }
    #experience::before {
	width: 150px;
	height: 150px;
}
    #experience img {
        display: none;
    }
    #experience .experience_left .experience_items {
	margin-top: 0;
        text-align: left;
}
    #experience .experience_left .experience_items span.icon {
	left: 30px;
}
    #experience .experience_right .experience_items {
	margin-top: 0;
}
    #counter {
        padding-bottom: 50px;
    }
    #counter .counter_items {
        margin-bottom: 30px;
    }
    #service {
        padding-top: 84px;
        padding-bottom: 55px;
    }
    #exclusive {
	padding-top: 95px;
	padding-bottom: 100px;
}
    #exclusive h2 {
        font-size: 30px;
    }
    #portfolio {
	display: none;
}
    #team {
	padding-top: 84px;
	padding-bottom: 70px;
}
    #call_us {
	padding-top: 85px;
	padding-bottom: 100px;
}
    #why_me {
	padding-top: 85px;
	padding-bottom: 55px;
}
    #testimonial {
        display: none;
    }
    #team {
        background: #f2f2f2;
    }
    #call_us h2 {
        font-size: 30px;
    }
    #working_process .working_process_content {
        text-align: center;
    }
    #working_process .working_process_content h4::before {
        left: 50%;
        transform: translateX(-50%);
    }
    #working_process .working_process_content p {
        padding-bottom: 30px;
    }
    #blog {
	padding-top: 84px;
	padding-bottom: 70px;
}
    #contact {
	padding-top: 84px;
	padding-bottom: 100px;
}
    #contact .contact_right {
	margin-top: 30px;
}
    #partner {
        display: none;
    }
    footer .footer_top {
        padding-bottom: 80px;
    }
    footer .footer_top .footer_items {
        padding-bottom: 40px;
    }
}
/* extra small device end */
/* small device start */

@media(min-width:576px) and (max-width:767px) {
    header .header_main,
    .sticky_header {
        padding: 20px 15px;
    }
    .navbar-toggler,
    .navbar-toggler:focus {
        color: #fff;
        outline: 0;
    }
    .sticky_header .navbar-toggler {
        color: #343a40;
    }
    .navbar-nav {
        background: #343a40;
        padding: 20px;
        text-align: center;
    }
    .sticky_header .navbar-nav {
        background: #fff;
        padding: 20px 20px 0;
        text-align: center;
    }
    .navbar-nav .nav-item {
        padding: 5px 0;
    }
    header .header_main .navbar-nav .nav-item:last-child .nav-link,
    .sticky_header .navbar-nav .nav-item:last-child .nav-link {
        padding: 0;
    }
    #banner {
        padding-top: 190px;
    }
    #banner .banner_content h1 {
        font-size: 40px;
    }
    #banner .banner_social_icon {
        display: none;
    }
    #about {
        padding-top: 84px;
        padding-bottom: 70px;
    }
   
    .about_content_left a {
        margin-bottom: 30px;
    }
    #about .about_content_right {
        display: none;
    }
    #my_skill {
        padding-top: 84px;
        padding-bottom: 65px;
    }
    .my_skill_right {
        padding-top: 20px;
    }
    #experience {
        padding-top: 84px;
        padding-bottom: 60px;
    }
    #experience::before {
	width: 150px;
	height: 150px;
}
    #experience img {
        display: none;
    }
    #experience .experience_left .experience_items {
	margin-top: 0;
        text-align: left;
}
    #experience .experience_left .experience_items span.icon {
	left: 30px;
}
    #experience .experience_right .experience_items {
	margin-top: 0;
}
    #counter {
        padding-bottom: 50px;
    }
    #counter .counter_items {
        margin-bottom: 30px;
    }
    #service {
        padding-top: 84px;
        padding-bottom: 55px;
    }
    #exclusive {
	padding-top: 95px;
	padding-bottom: 100px;
}
    #exclusive h2 {
        font-size: 30px;
    }
    #portfolio {
	display: none;
}
    #team {
	padding-top: 84px;
	padding-bottom: 70px;
}
    #call_us {
	padding-top: 85px;
	padding-bottom: 100px;
}
    #why_me {
	padding-top: 85px;
	padding-bottom: 55px;
}
    #testimonial {
        display: none;
    }
    #team {
        background: #f2f2f2;
    }
    #call_us h2 {
        font-size: 30px;
    }
    #working_process .working_process_content {
        text-align: center;
    }
    #working_process .working_process_content h4::before {
        left: 50%;
        transform: translateX(-50%);
    }
    #working_process .working_process_content p {
        padding-bottom: 30px;
    }
    #blog {
	padding-top: 84px;
	padding-bottom: 70px;
}
    #contact {
	padding-top: 84px;
	padding-bottom: 100px;
}
    #contact .contact_right {
	margin-top: 30px;
}
    #partner {
        display: none;
    }
    footer .footer_top {
        padding-bottom: 80px;
    }
    footer .footer_top .footer_items {
        padding-bottom: 40px;
    }
}
/* small device end */
/* medium device start */

@media(min-width: 768px) and (max-width: 991px) {
    header .header_main,
    .sticky_header {
        padding: 20px 15px;
    }
    .navbar-toggler,
    .navbar-toggler:focus {
        color: #fff;
        outline: 0;
    }
    .sticky_header .navbar-toggler {
        color: #343a40;
    }
    .navbar-nav {
        background: #343a40;
        padding: 20px;
        text-align: center;
    }
    .sticky_header .navbar-nav {
        background: #fff;
        padding: 20px 20px 0;
        text-align: center;
    }
    .navbar-nav .nav-item {
        padding: 5px 0;
    }
    header .header_main .navbar-nav .nav-item:last-child .nav-link,
    .sticky_header .navbar-nav .nav-item:last-child .nav-link {
        padding: 0;
    }
    #banner {
	padding: 198px 0 200px;
}
    #about {
	padding-top: 103px;
	padding-bottom: 120px;
}
    #about .about_content_left a {
        margin-bottom: 30px;
    }
    #my_skill {
	padding-top: 103px;
	padding-bottom: 81px;
}
    #experience {
        padding-bottom: 80px;
    }
    #experience img {
        display: none;
    }
    #experience .experience_left .experience_items {
	    margin-top: 0;
        text-align: left;
}
    #experience .experience_left .experience_items span.icon {
	left: 30px;
}
    #experience .experience_right .experience_items {
	margin-top: 0;
}
    #counter {
        padding-bottom: 50px;
    }
    #counter .counter_items {
        margin-bottom: 30px;
    }
    #service {
	padding-top: 105px;
}
    #exclusive {
	padding-top: 116px;
}
    
    #portfolio {
        padding-top: 104px;
}
    #testimonial {
	padding-top: 112px;
	padding-bottom: 108px;
	background: #f5f5f5;
}
    #team {
	padding-top: 105px;
}
    #testimonial .testimonial_content_left h1 {
	font-size: 34px;
margin-bottom: 30px;
}
    #testimonial .testimonial_content .slider_items .slider_content::before {
	left: 32px;
}
    #call_us {
	padding-top: 113px;
}
    #why_me {
	padding-top: 105px;
}
    #blog {
	padding-top: 105px;
}
    #contact {
	padding-top: 104px;
}
    #working_process .working_process_content {
        text-align: center;
    }
    #working_process .working_process_content h4::before {
        left: 50%;
        transform: translateX(-50%);
    }
    #working_process .working_process_content p {
        padding-bottom: 30px;
    }
    #contact .contact_right {
	margin-top: 30px;
}
    #blog .blog-items .blog-images span {
	bottom: 180px;
}
    footer .footer_top {
        padding-bottom: 80px;
    }
    footer .footer_top .footer_items {
        padding-bottom: 40px;
    }
}
/* medium device end */
/* large device start */

@media (min-width: 992px) and (max-width: 1199px) {
    #banner {
	padding: 200px 0 200px;
}
    #about {
	padding-top: 104px;
	padding-bottom: 120px;
}
    #my_skill {
	padding-top: 104px;
	padding-bottom: 70px;
	background: #f5f5f5;
}
    #experience img{
	margin-bottom: -530px;
}
    #service {
	padding-top: 104px;
}
    #exclusive {
	padding-top: 114px;
}
    #portfolio {
        padding-top: 104px;
    }
    #testimonial {
        padding-bottom: 111px;
    }
    #team {
	padding-top: 104px;
}
    #call_us {
	padding-top: 112px;
	padding-bottom: 118px;
}
    #why_me {
	padding-top: 104px;
}
    #blog {
	padding-top: 104px;
}
    #contact {
        padding-top: 104px;
    }
    
    
/* large device end */